<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>

    </head>
    <body>
    <!--@elvariable id="socialResponse" type="com.hamza.oauth.model.SocialResponseAttributes"-->
        <h:outputText value="#{socialResponse.error}"/><br/>
        <h:outputText value="#{socialResponse.error_description}"/><br/>
        <h:outputText value="#{socialResponse.error_reason}"/><br/>
    </body>
</html>
