<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:c="http://java.sun.com/jstl/core">
    <f:view>
        <body>
            <div align="center">
                <h:form >
                    <h:outputLink value="#{VkRequest.firstVKRequest}" title="ВКонтакте" id="vkLogin">
                        <img src="http://www.trafficrules.com.ua/habrapack/vk.png" alt="ВКонтакте" />
                    </h:outputLink>
                    <h:outputLink value="#{googleRequest.firstGoogleRequest}" title="Google" id="gooLogin" >
                        <img src="http://www.trafficrules.com.ua/habrapack/google.png" alt="Google" />
                    </h:outputLink>
                    <h:outputLink value="#{FbRequest.firstFbRequest}" title="FaceBook" id="fbLogin" >
                        <img src="http://www.trafficrules.com.ua/habrapack/facebook.png" alt="FaceBook" />
                    </h:outputLink>
                    <h:outputLink value="#{OdkRequest.firstODKRequest}" title="Odnoklassniki" id="odkLogin" >
                        <img src="http://www.trafficrules.com.ua/habrapack/ok.png" alt="FaceBook" />
                    </h:outputLink>
                </h:form>
            </div>
        </body>
    </f:view>

</html>
