<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:view>
        <h:head>
        </h:head>
        <h:body style="align-content: center">

                <p:panelGrid columns="2">
                    <f:facet name="header">
                        <h:graphicImage url="#{userProfile.photo}"/>
                    </f:facet>

                    <h:outputText value="User id:"/>
                    <h:outputText value="#{userProfile.userId}"/>

                    <h:outputText value="Email:"/>
                    <h:outputText value="#{userProfile.email}"/>

                    <h:outputText value="Name:"/>
                    <h:outputText  value="#{userProfile.firstName}"/>

                    <h:outputText value="Lastname:"/>
                    <h:outputText value="#{userProfile.lastName}"/>

                    <h:outputText value="Country:"/>
                    <h:outputText value="#{userProfile.country.title}"/>

                    <h:outputText value="City:"/>
                    <h:outputText value="#{userProfile.city.title}"/>

                    <h:outputText value="SEX:"/>
                    #{userProfile.sex == 2 ?"M":userProfile.sex == 1?"Ж": ""}
                </p:panelGrid>
        </h:body>
    </f:view>
</html>
